# Supabase Configuration
VITE_SUPABASE_URL=https://mxjzfeoviljuvgcwcrhe.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key-here
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_589vCQoCxbF_Glqw7E3Yrw_eEMnMfGR